/* SignUp.css */

.signup-background {
    background: linear-gradient(135deg, #30c733, #2575fc);
    min-height: 100vh; /* Full height to accommodate all content */
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Arial', sans-serif;
    color: white;
}

.signup-container {
    background: white;
    color: #333;
    padding: 20px; /* Reduced padding */
    width: 80%; /* Reduced width */
    max-width: 600px; /* Maximum width for larger screens */
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    height: auto; /* Ensure container height is auto */
}

.signup-header {
    text-align: center;
    padding: 0 20px;
    margin-bottom: 20px; /* Increased margin for balanced spacing */
}

.signup-header h1 {
    margin: 0;
    color: #2575fc;
    font-size: 1.8em;
}

.signup-header p {
    font-size: 0.9em;
    color: #666;
    margin: 5px 0 0;
}

.signup-form {
    display: grid;
    grid-template-columns: 1fr 2fr; /* Two columns: labels and inputs */
    gap: 0.5rem 1rem; /* Reduced gaps */
    flex-grow: 1; /* Allow form to grow and take available space */
}

/* Label styling */
.signup-form label {
    font-weight: bold;
    margin-bottom: 0; /* Remove bottom margin */
    align-self: center; /* Vertically center align labels */
    text-align: right; /* Align text to the right */
}

/* Input styling */
.signup-form input {
    width: 100%;
    padding: 8px; /* Reduced padding */
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    transition: border-color 0.2s ease-in-out;
}

.signup-form input:focus {
    border-color: #2575fc;
    box-shadow: 0 0 5px rgba(37, 117, 252, 0.3);
}

.signup-form .input-error {
    border-color: red;
}

.error {
    color: red;
    font-size: 0.8em;
    margin-top: 5px;
    grid-column: 2 / 3; /* Span error message under input field */
}

/* Button container styling */
.signup-button-container {
    display: flex;
    justify-content: center; /* Center the button */
    margin-top: 20px; /* Add margin at the top */
    grid-column: 1 / -1; /* Make button container span both columns */
}

/* Button styling */
.signup-button {
    padding: 10px 20px; /* Normal size button */
    font-size: 1em;
    background: #2575fc;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

.signup-button:hover {
    background: #1b5bbd;
}

.signup-button:disabled {
    background: #ccc;
    cursor: not-allowed;
}
