
/* Left and right cards */
.card {
  width: 48%; /* Reduced width to make room for the smaller boxes */
  padding: 20px;
  height: auto; /* Allow the card to extend based on content */
  overflow: visible; /* Allow the content inside the card to overflow if needed */
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background: linear-gradient(#ffffff, #e1e5e7);
}

.box {
  margin-bottom: 20px;
  height: 100vh; /* Each box spans the full page*/
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  background-color: #7c7a7a;
  border: 2px solid #002545;
  align-items: center;
}

.left-card, .right-card {
  border: 2px solid #000945;
}

/* General styles for Left side text input areas */
textarea {
  width: 82%;
  height: 8vh;
  margin-bottom: 10px;
  padding: 1px;
  border: 1px solid #450000;
  border-radius: 4px;
  font-size: 12px;
  resize: none;
  overflow: hidden;
  text-align: center;
  line-height: 2;
}

/* General styles for Right side text output areas */
  .displayarea, .displayarea-body, #rightsReserved {
  width: 82%;
  height: 8vh;
  margin-bottom: 10px;
  padding: 1px;
  font-size: 12px;

  border: 1px solid #001f45;
  border-radius: 4px;

  resize: none;
  overflow: hidden;
  text-align: center;
  line-height: 2;
  background-color: #7c7a7a;
    /* color  = #7c7a7a; */
}

/*** Individual input and display areas ***/

/* TITLE PAGE */
#textarea1, #display1 {   
  margin-top: 15vh;  
  height: 7vh;      
  text-transform: uppercase;
  text-align: center;
}
#textarea2, #display2 {   
  margin-top: 5vh;
  height: 10vh;         
  text-align: center;
}
#textarea3, #display3 { 
  margin-top: 1vh;
  height: 10vh;         
  text-align: center;
}
#by {
font-size: 12px;
}
#textarea4, #display4 {
  margin-top: 1vh;
  height: 4vh;
  width: 10vw;
  text-align: center;
}
#textarea5, #display5 {
  margin-top: 5vh;
  height: 4vh;
  width: 10vw;
  text-align: center;
}

  /* COPYWRITE PAGE*/

  #textarea21, #display21 {
    margin-top: 80vh;
    margin-bottom: 0;
    height: 5vh;
    width: 12vw;
    text-align: center;
  }
  #rightsReserved {
    margin-top: 0;
    padding: 0;
  }
  
  
  /* SIGNATURE PAGE */
  #textarea31, #display31 {
    margin-top: 12vh;
    height: 7vh;
    text-transform: uppercase;
    text-align: center;
  }
  #textarea32, #display32 {   
    margin-top: 5vh;
    height: 18vh;         
    text-align: center;
  }
  #textarea33, #display33 {
    margin-top: 1vh;
    margin-bottom: 8vh;
    height: 4vh;
    width: 15vw;  
    text-align: center;
    text-transform: uppercase;
  }
  /* faculty signatures and lines */
  .signature1, .signature2, .signature3 {
    width: 100%;
    margin-left: 20%;
    display: block;
  }
  .signature-line1, .signature-line2, .signature-line3 {
    margin-top: 3vh;
    width: 25vw;
  }
  #textarea34, #display34, #textarea35, #display35, #textarea36, #display36 {
    height: 4vh;
    width: 15vw;  
    text-align: left;
  }
  
  
  /* ABSTRACT */
  #abstract {
    margin-top: 8vh;
    font-size: 12px;
    font-weight: bold;
  }
  #textarea41, #display41 {
    margin-top: 1vh;
    height: 7vh;
    text-transform: uppercase;
    text-align: center;
  }
  #textarea42, #display42 {
    margin-top: 1vh;
    height: 4vh;
    width: 10vw;
    text-align: center;
  }

  #textarea44, #display44 {
    margin-top: 1vh;
    height: 20vh;
    text-align: center;
  }
  #textarea44, #display44 {
    margin-top: 1vh;
    height: 20vh;
    text-align: left;
    
  }
  #textarea45, #display45 {
    margin-top: 1vh;
    height: 20vh;
    text-align: left;
  }


  /* DEDICATION */
  #Dedication {
    margin-top: 8vh;
    font-size: 12px;
    font-weight: bold;
  }
  #Ded-to {
    margin-top: 1vh;
    font-size: 12px;
  }
  #textarea51, #display51 {
    margin-top: 1vh;
    height: 20vh;
    text-align: center;
  }


  /* ACKNOWLEDGEMENTS */
  #Acknowledgements {
    margin-top: 8vh;
    font-size: 12px;
    font-weight: bold;
  }
  #textarea61, #display61 {
    margin-top: 1vh;
    height: 20vh;
    text-align: left;
  }

  /* BODY */

  .textarea-body, .displayarea-body {
    margin-top: 1vh;
    height: 100vh;
    text-align: left;
    text-indent: 5vh;
  }


/* Ensure smaller cards on smaller screens */
@media (max-width: 768px) {
  .container {
      flex-direction: column; /* Stack the cards vertically on small screens */
      align-items: center;
  }

  .card {
      width: 100%; /* Make cards take full width on smaller screens */
  }
}
